/* @import "tailwindcss"; */

/* optional custom */

/* body {
  font-family: Arial, Helvetica, sans-serif;
} */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Rubik:wght@300;400;500;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.rubik-sans {
  font-family: 'Rubik', sans-serif;
}

.tracking-premium {
  letter-spacing: 0.6px;
}